@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "oxygen";
}


/* .header{
   position: fixed;
  top: 0;
  left: 0;
  right: 0; 
   display: flex;
  align-items: center;
  justify-content:space-around; 
 padding: 2rem 9%; 
  background-color: #fff;
  z-index: 1;
  color: transparent;

} */

/* #navbar section starts here */

#navbar{
 display: flex;
 align-items: center;
 margin-bottom: 4rem;
 background-color: #fff;
 padding: 2rem 9%; 
 justify-content: space-between;
 position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 0;
  /* overflow: hidden; */
  /* scroll-behavior: smooth; */
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
  /* background-color: transparent; */
}


#navbar .list ul{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#navbar .list ul li a{
  color: black;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
}

#navbar .list ul li a:hover{
    color: darkorange;
}



#navbar .list .btn{
  margin-left: 2rem;
  
}

#navbar .list .btn .gee{
  padding: 13px 20px;
  border-radius: 5px;
  border: 2px solid aliceblue;
  background-color: #fff;
  color:#000000;
  font-weight: 700;
  font-size: 20px;
  margin-right: 10px;

  
}

#navbar .list .btn .gee:hover{
  background-color: aliceblue;
}


#navbar .list .btn .ok{
  padding: 12px 25px;
  border-radius: 5px;
  color: #fff;
  background-color: darkorange;
  border: none;
  font-weight: 700;
  font-size: 21px;
}


#navbar .list .btn .ok:hover{
  background-color: coral;
}

/* #navbar section ends here */
  

section{
  padding: 3rem 9%; 
}

/* #container  section starts here */

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9rem;
  /* gap: 1.5rem; */
  /* justify-content: center; */
}

#container .heading h1{
  font-weight: bolder;
  font-size:40px;
  color: #000000;
  margin-bottom: 3rem;
  
}

#container .heading p{
  font-weight: 700;
  font-size: 20px;
  color: grey;
  margin-bottom: 3rem;
}

/* #container .heading .class{
  gap: 6rem;
} */


#container .heading .class button{
  padding: 20px;
  width: 50%;
  background-color: darkorange;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  /* margin-left: 2rem; */
}


#container .heading .class button:hover{
  background-color: coral ;
}

#container .heading .class a{
  color: darkorange;
  font-weight: 700;
  font-size: 24px;
  margin-left: 2rem;
  text-decoration: underline;
}

#container .image img{
  width: 100%;
}

/* #container section ends here */


/* #content section starts here */

#content h1{
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 5rem;
}

#content .content-head {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
}

 #content .content-head .div .ok{
  width: 5rem;
}


#content .content-head .div h2{
     font-weight: 600;
     font-size: 20px;
     margin-bottom: 10px;
}


#content .content-head .div p{
  font-size: 15px;
  font-weight: 400;
}

#content  .image{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}


#content .image button{
  padding: 15px;
  width: 20%;
  background-color:darkorange ;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
}


#content .image button:hover{
  background-color: coral;
}




/* content section ends here */


/* confirm section ends here */

#confirm{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 3rem;
}

#confirm .confirm-head h3{
   font-weight: 400;
   font-size: 19px;
   margin-bottom: 5px;
}

#confirm .confirm-head h1{
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 4px;
}

#confirm .confirm-head p{
  font-weight: 400;
   font-size: 15px;
   margin-bottom: 1rem;
}

#confirm .confirm-head .me h2{
   font-size: 22px;
   font-weight: bold;
   margin-bottom: 1rem;
}

#confirm .image img{
  width: 90%;
}




/* confirm section ends here */


/* order section starts here */

#order{
  display: flex;
  gap: 2rem;
}

#order .image img{
  width: 90%;
}


#order .order-div h2{
  font-weight: 400;
   font-size: 19px;
   margin-bottom: 1rem;
}

#order .order-div h1{
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 1rem;
}

#order .order-div p{
  font-weight:400;
  font-size:16px;
  margin-bottom: 1rem;
}


#order .order-div .image-head .icon{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;
}


#order .order-div .image-head .icon p{
  margin-top: 1rem;
}



/*order section starts here */


/*product section starts here */

#product{
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
}

#product .product-header h3{
  color: darkgrey;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}


#product .product-header h1{
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 1rem;
}


#product .product-header p{
  font-weight:400;
  font-size:16px;
  margin-bottom: 1rem;
}


#product .product-header .me h2{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

#product .image img{
  width: 90%;
}










/* product section ends here */



